In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.preprocessing import StandardScaler 
from sklearn.model_selection import train_test_split, cross_val_score

import statsmodels.api as sm

In [2]:
train = pd.read_csv('../../cleaned_datasets/train.csv')
test = pd.read_csv('../../cleaned_datasets/test.csv')

***
## Feature Engineering
***

In [3]:
# combining Train and Test for feature engineering
whole = pd.concat([train, test], sort = False)


# dropping price so no columns contain direct price information
whole.drop(columns = 'saleprice', inplace = True)



# removing dummies so that this is feasible

whole = whole.iloc[:,:whole.columns.get_loc('yr_sold') + 1]

display(whole.head())

,index,id,pid,ms_subclass,lot_frontage,lot_area,overall_qual,overall_cond,year_built,year_remod/add,...,garage_area,wood_deck_sf,open_porch_sf,enclosed_porch,3ssn_porch,screen_porch,pool_area,misc_val,mo_sold,yr_sold
0,0.0,109.0,533352170.0,60.0,57.480147,13517.0,6.0,8.0,1976.0,2005.0,...,475.0,0.0,44.0,0.0,0.0,0.0,0.0,0.0,3.0,2010.0
1,1.0,544.0,531379050.0,60.0,43.000000,11492.0,7.0,5.0,1996.0,1997.0,...,559.0,0.0,74.0,0.0,0.0,0.0,0.0,0.0,4.0,2009.0
2,2.0,153.0,535304180.0,20.0,68.000000,7922.0,5.0,7.0,1953.0,2007.0,...,246.0,0.0,52.0,0.0,0.0,0.0,0.0,0.0,1.0,2010.0
3,3.0,318.0,916386060.0,60.0,73.000000,9802.0,5.0,5.0,2006.0,2007.0,...,400.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,2010.0
4,4.0,255.0,906425045.0,50.0,82.000000,14235.0,6.0,8.0,1900.0,1993.0,...,484.0,0.0,59.0,0.0,0.0,0.0,0.0,0.0,3.0,2010.0

In [4]:
# making features and concating to whole

features = pd.DataFrame(columns = range(1))


for col in whole.columns:
    
    unused_cols = list(whole.columns)
    
    for sub_col in unused_cols:
        
        
       features[f'{col} * {sub_col}'] = whole[col] * whole[sub_col]
          
        
    unused_cols.remove(col)

# features.drop(columns = 'index', inplace= True)


whole = pd.concat([whole, features], axis= 1)

In [5]:
whole.drop(columns= ['index', 0], inplace= True)

whole

,id,pid,ms_subclass,lot_frontage,lot_area,overall_qual,overall_cond,year_built,year_remod/add,mas_vnr_area,...,yr_sold * garage_area,yr_sold * wood_deck_sf,yr_sold * open_porch_sf,yr_sold * enclosed_porch,yr_sold * 3ssn_porch,yr_sold * screen_porch,yr_sold * pool_area,yr_sold * misc_val,yr_sold * mo_sold,yr_sold * yr_sold
0,109.0,533352170.0,60.0,57.480147,13517.0,6.0,8.0,1976.0,2005.0,289.0,...,954750.0,0.0,88440.0,0.0,0.0,0.0,0.0,0.0,6030.0,4040100.0
1,544.0,531379050.0,60.0,43.000000,11492.0,7.0,5.0,1996.0,1997.0,132.0,...,1123031.0,0.0,148666.0,0.0,0.0,0.0,0.0,0.0,8036.0,4036081.0
2,153.0,535304180.0,20.0,68.000000,7922.0,5.0,7.0,1953.0,2007.0,0.0,...,494460.0,0.0,104520.0,0.0,0.0,0.0,0.0,0.0,2010.0,4040100.0
3,318.0,916386060.0,60.0,73.000000,9802.0,5.0,5.0,2006.0,2007.0,0.0,...,804000.0,201000.0,0.0,0.0,0.0,0.0,0.0,0.0,8040.0,4040100.0
4,255.0,906425045.0,50.0,82.000000,14235.0,6.0,8.0,1900.0,1993.0,0.0,...,972840.0,0.0,118590.0,0.0,0.0,0.0,0.0,0.0,6030.0,4040100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
873,1662.0,527377110.0,60.0,80.000000,8000.0,6.0,6.0,1974.0,1974.0,0.0,...,979416.0,0.0,192672.0,0.0,0.0,0.0,0.0,0.0,22077.0,4028049.0
874,1234.0,535126140.0,60.0,90.000000,14670.0,6.0,7.0,1966.0,1999.0,410.0,...,963840.0,0.0,461840.0,0.0,0.0,0.0,0.0,0.0,16064.0,4032064.0
875,1373.0,904100040.0,20.0,55.000000,8250.0,5.0,5.0,1968.0,1968.0,0.0,...,646576.0,0.0,126504.0,0.0,0.0,0.0,0.0,0.0,16064.0,4032064.0
876,1672.0,527425140.0,20.0,60.000000,9000.0,4.0,6.0,1971.0,1971.0,0.0,...,1059696.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10035.0,4028049.0
877,1939.0,535327160.0,20.0,70.000000,8400.0,5.0,5.0,1955.0,1955.0,0.0,...,782730.0,162567.0,0.0,0.0,0.0,0.0,0.0,0.0,6021.0,4028049.0

In [6]:


train_ = whole.iloc[:2051]
test_ = whole.iloc[2051:]




train_['saleprice'] = train['saleprice']
test_['saleprice'] = test['saleprice']




train = train_
test = test_

C:\Users\Zachary\.conda\envs\dsi\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\Zachary\.conda\envs\dsi\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [7]:
X = train.drop(columns='saleprice')
y = train['saleprice']
X = sm.add_constant(X)

C:\Users\Zachary\.conda\envs\dsi\lib\site-packages\numpy\core\fromnumeric.py:2495: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

In [8]:

model = sm.OLS(y, X).fit()
high_p_vals = list(model.pvalues[model.pvalues >= .05].index)[2:]
# X.drop(columns = high_p_vals, inplace = True)


X.drop(columns = 'const', inplace=True)

C:\Users\Zachary\.conda\envs\dsi\lib\site-packages\statsmodels\base\model.py:1294: RuntimeWarning: invalid value encountered in true_divide
  return self.params / self.bse
C:\Users\Zachary\.conda\envs\dsi\lib\site-packages\scipy\stats\_distn_infrastructure.py:901: RuntimeWarning: invalid value encountered in greater
  return (a < x) & (x < b)
C:\Users\Zachary\.conda\envs\dsi\lib\site-packages\scipy\stats\_distn_infrastructure.py:901: RuntimeWarning: invalid value encountered in less
  return (a < x) & (x < b)
C:\Users\Zachary\.conda\envs\dsi\lib\site-packages\scipy\stats\_distn_infrastructure.py:1892: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= _a)

In [9]:
len(high_p_vals)

1063

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state = 42)

In [11]:
lr = LinearRegression()

y_train_log = y_train.map(np.log)
y_test_log = y_test.map(np.log)



print(cross_val_score(lr, X_train, y_train_log, cv=5).mean()
)




lr.fit(X_train, y_train_log)

lr.score(X_train, y_train_log), lr.score(X_test, y_test_log)

-9.282358317711529

(0.9272308278070975, 0.7595874747812512)

In [12]:
lr.fit(X, y.map(np.log))

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [13]:


testing = test.drop(columns = 'saleprice')

# testing.drop(columns = high_p_vals, inplace = True)

display(testing)

output = pd.DataFrame({'Id': test['id']})


output['SalePrice'] = lr.predict(testing)


output['SalePrice'] = output['SalePrice'].map(np.exp)

output['Id'] = [int(val) for val in output['Id']]

display(output)

pd.DataFrame.to_csv(output, '../../submissions/feat_engineer_no_drop.csv', index = False)

,id,pid,ms_subclass,lot_frontage,lot_area,overall_qual,overall_cond,year_built,year_remod/add,mas_vnr_area,...,yr_sold * garage_area,yr_sold * wood_deck_sf,yr_sold * open_porch_sf,yr_sold * enclosed_porch,yr_sold * 3ssn_porch,yr_sold * screen_porch,yr_sold * pool_area,yr_sold * misc_val,yr_sold * mo_sold,yr_sold * yr_sold
0,2658.0,902301120.0,190.0,69.000000,9142.0,6.0,8.0,1910.0,1950.0,0.0,...,882640.0,0.0,120360.0,224672.0,0.0,0.0,0.0,0.0,8024.0,4024036.0
1,2718.0,905108090.0,90.0,82.786765,9662.0,5.0,4.0,1977.0,1977.0,0.0,...,1163480.0,341020.0,0.0,0.0,0.0,0.0,0.0,0.0,16048.0,4024036.0
2,2414.0,528218130.0,60.0,58.000000,17104.0,7.0,5.0,2006.0,2006.0,0.0,...,854556.0,200600.0,48144.0,0.0,0.0,0.0,0.0,0.0,18054.0,4024036.0
3,1989.0,902207150.0,30.0,60.000000,8520.0,5.0,6.0,1923.0,2006.0,0.0,...,963360.0,0.0,0.0,369288.0,0.0,0.0,0.0,0.0,14049.0,4028049.0
4,625.0,535105100.0,20.0,79.027933,9500.0,6.0,5.0,1963.0,1963.0,247.0,...,1032626.0,0.0,152684.0,0.0,0.0,371665.0,0.0,0.0,14063.0,4036081.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
873,1662.0,527377110.0,60.0,80.000000,8000.0,6.0,6.0,1974.0,1974.0,0.0,...,979416.0,0.0,192672.0,0.0,0.0,0.0,0.0,0.0,22077.0,4028049.0
874,1234.0,535126140.0,60.0,90.000000,14670.0,6.0,7.0,1966.0,1999.0,410.0,...,963840.0,0.0,461840.0,0.0,0.0,0.0,0.0,0.0,16064.0,4032064.0
875,1373.0,904100040.0,20.0,55.000000,8250.0,5.0,5.0,1968.0,1968.0,0.0,...,646576.0,0.0,126504.0,0.0,0.0,0.0,0.0,0.0,16064.0,4032064.0
876,1672.0,527425140.0,20.0,60.000000,9000.0,4.0,6.0,1971.0,1971.0,0.0,...,1059696.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10035.0,4028049.0
877,1939.0,535327160.0,20.0,70.000000,8400.0,5.0,5.0,1955.0,1955.0,0.0,...,782730.0,162567.0,0.0,0.0,0.0,0.0,0.0,0.0,6021.0,4028049.0

       Id      SalePrice
0    2658  176456.194242
1    2718  156673.548906
2    2414  188544.085281
3    1989  111882.637951
4     625  176528.337159
..    ...            ...
873  1662  195293.975105
874  1234  202400.898472
875  1373  123060.834401
876  1672  110702.573001
877  1939  119949.235020

[878 rows x 2 columns]